/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Inter', Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
#calculatePlates,
#getWeight {
  color: #afbac6;
  /* font-weight: 400; */
}
p,
li,
span {
  color: #79838f;
}
h1 {
  margin: 0;
  color: #6599ee;
  font-size: 1.35rem;
  letter-spacing: 0.5px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #23272d;
}
#appContainer {
  text-align: center;
  height: 625px;
  width: 375px;
  border: 1px solid #464c55;
  border-radius: 4px;
}
#calculationsContainer,
#displayPlates,
#historyContainer {
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  height: 8.5%;
  background-color: #2e333a;
  border-bottom: 1px solid #464c55;
  border-radius: 4px 4px 0 0;
}
#calculationsContainer {
  height: 15%;
}
#displayPlates {
  height: 40%;
}
#historyContainer {
  height: 30%;
  overflow: auto;
  padding-bottom: 10px;
  border-top: 1px solid #464c55;
}
#getWeight,
#calculatePlates {
  height: 45px;
  width: 45%;
  background-color: #2e333a;
  border: 1px solid #464c55;
  border-radius: 8px;
}
#getWeight {
  padding-left: 15px;
}
#calculatePlates {
  margin-left: 5px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#calculatePlates:hover {
  background-color: #464c55;
  border: 1px solid #78838f;
  cursor: pointer;
}
